<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books</title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{book.id}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.category}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Add a Book</h1>
    <form action="addBook" method="post">
        {% csrf_token %}
        <div>
            <label for="title">Title:</label>
            <input type="text" name="title">
        </div>
        <br>
        <div>
            <label for="category">Category:</label>
            <input type="text" name="category">
            
            <label for="author">Author:</label>
            <input type="text" name="author">
        </div>
        <br>
        <div>
            <input type="submit" value="Submit!">
        </div>
    </form>
</body>
</html>